{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/client/css/checkers.css">
	<link rel="stylesheet" href="/client/css/game.css">
{% endblock %}

{% block react %}
	<div class="__react-root game"></div>
	<!-- <script type="text/javascript">
		const room_state={{ room_state|safe }};
		const 
		const room_id={{ room_id|safe }};
	</script> -->
	<!-- <script type="text/javascript" src="/client/dist/room.js"></script> -->
	<script src="/client/dist/main.js"></script>
{% endblock %}